@charset "UTF-8";

body {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  background-color: #eee;
}

.top {
  background-color: #ec437b;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  /* box-shadow */
  box-shadow: 0 3px 2px 0 #bbb;
}

.top-left {
  width: 40px;
  height: 40px;
  background-color: white;

  /* border-radius */
  border-radius: 50px;
}

.top-right {
  width: 100px;
  height: 40px;
  background-color: white;

  /* border-radius */
  border-radius: 3px;
}

.middle {
  padding: 30px 30px;
}

.middle-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.middle-left {
  width: 50px;
  height: 50px;
  background-color: #ccc;
}

.middle-right {
  height: 100px;
  background-color: white;
  flex-grow: 1;
  margin-left: 20px;

  /* border-radius */
  border-radius: 5px;

  /* box-shadow */
  box-shadow: 2px 2px 3px 0 #ccc;
}

.bottom {
  height: 50px;
  background-color: #010264;
}
